.main-container {
  display: flex;
  flex-direction: column;
  height: 268px;
  margin: 0 64px;
  width: 360px;

  &-forms {
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    width: 100%;

    &-buttons {
      button {
        align-items: center;
        border: solid 1px #008b57;
        border-radius: 8px;
        color: white;
        display: flex;
        font-size: 16px;
        height: 56px;
        justify-content: center;
        width: 149px;

        &:disabled {
          background-color: #8c9cad;
        }

        &:enabled {
          background-color: #00ab63;

          &:hover {
            background-color: #008b57;
          }
        }

        img {
          margin-right: 10px;
        }
      }
    }

    &-inputs {
      margin: 10% 0;
      div {
        display: flex;
        div {
          display: flex;
          flex-direction: column;

          input {
            border: 1px solid #d7e0eb;
            border-radius: 4px;
            box-shadow: 0 8px 4px #0d111b14;
            height: 56px;
            outline: none;
            padding: 0 10px;
            width: 168px;
          }

          label {
            color: #2e3742;
            font-size: 18px;
            font-weight: bold;
            margin-bottom: 10px;
          }

          &:first-child {
            margin-right: 6%;
          }
        }
      }
    }

    &-options {
      display: flex;
      flex-direction: column;
      margin-bottom: 10%;

      div {
        align-items: center;
        display: flex;
        input {
          height: 24px;
          margin-right: 5px;
          width: 24px;
        }

        label {
          font-size: 16px;
          margin-right: 10px;
        }
      }
      p {
        font-size: 18px;
        font-weight: bold;
        margin-bottom: 10px;
      }
    }
  }
}
