<main class="main-container">
  <form action="" class="main-container-forms">
    <div class="main-container-forms-inputs">
      <div>
        <div>
          <label for="dollar">Dolar</label>
          <input
            type="number"
            name="dollar"
            id="dollar"
            placeholder="$ 0.00"
            [(ngModel)]="inputDollarValue"
          />
        </div>
        <div>
          <label for="tax">Taxa do Estado</label>
          <input
            type="number"
            name="tax"
            id="tax"
            placeholder="0%"
            [(ngModel)]="inputTaxValue"
          />
        </div>
      </div>
    </div>
    <div class="main-container-forms-options">
      <p>Tipo de compra</p>
      <div>
        <div>
          <input
            type="radio"
            name="money"
            id="money"
            value="money"
            [(ngModel)]="option"
          />
          <label for="money">Dinheiro</label>
        </div>
        <div>
          <input
            type="radio"
            name="card"
            id="card"
            value="card"
            [(ngModel)]="option"
          />
          <label for="card">Cartão</label>
        </div>
      </div>
    </div>
    <div class="main-container-forms-buttons">
        <button routerLink="/result" type="button" [disabled]="!option" (click)="calculate();  navigateToResult();">
          <img src="../../assets/transfer.svg" alt="converter" /> Converter
        </button>
    </div>
  </form>
</main>
