<main class="main-container">
  <form action="" class="main-container-forms">
    <div class="main-container-forms-inputs">
      <div>
        <div>
          <label for="dollar">Dolar</label>
          <input type="number" name="dollar" id="dollar" placeholder="$ 0.00" [(ngModel)]="inputDollar"/>
        </div>
        <div>
          <label for="tax">Taxa do Estado</label>
          <input type="number" name="tax" id="tax" placeholder="0%" [(ngModel)]="inputTax"/>
        </div>
      </div>
    </div>
    <div class="main-container-forms-options">
      <p>Tipo de compra</p>
      <div>
        <div>
          <input
            type="radio"
            name="money"
            id="money"
            value="money"
            [(ngModel)]="option"
          />
          <label for="money">Dinheiro</label>
        </div>
        <div>
          <input
            type="radio"
            name="card"
            id="card"
            value="card"
            [(ngModel)]="option"
          />
          <label for="card">Cartao</label>
        </div>
      </div>
    </div>
    <div class="main-container-forms-buttons">
      <button type="button" [disabled]="!option" (click)="getDollarValue()">
        <img src="../../assets/transfer.svg" alt="converter" /> Converter
      </button>
    </div>
    <p [innerHTML]="getDollarValue()"></p>
  </form>
</main>
