<main class="main-container">
  <form action="" class="main-container-forms">
    <div class="main-container-forms-inputs">
      <div>
        <div>
          <label for="dollar">Dolar</label>
          <input type="text" name="dollar" id="dollar" />
        </div>
        <div>
          <label for="tax">Taxa do Estado</label>
          <input type="text" name="tax" id="tax" />
        </div>
      </div>
    </div>
    <div class="main-container-forms-options">
      <p>Tipo de compra</p>
      <div>
        <div>
          <input type="radio" name="money" id="money"/>
          <label for="money">Dinheiro</label>
        </div>
        <div>
          <input type="radio" name="card" id="card"/>
          <label for="card">Cartao</label>
        </div>
      </div>
    </div>
    <div class="main-container-forms-buttons">
      <button type="button">
        <img src="../../assets/transfer.svg" alt="converter" /> Converter
      </button>
    </div>
  </form>
</main>
